@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-fixed backdrop-blur-lg; */
  }
}

@layer utilities {
  .language-sh,
  .language-ts,
  .language-yml,
  .language-toml,
  .language-json {
    @apply rounded-lg;
    @apply min-w-full;
  }
  .terminal {
    @apply md:max-w-3xl;
    &.sm {
      @apply text-xs;
      .cursor {
        @apply my-2;
      }
      .line {
        @apply py-2;
      }
      p {
        @apply py-0 my-auto !important;
      }
    }
    &.language-sh {
      @apply rounded-lg shadow-md px-8 py-4;
      @apply m-0 !important;
      @apply text-gray-100;
      /* @apply text-gray-600; */
      /* @apply dark:text-gray-100; */
    }
  }
  .pipeline {
    .tag {
      @apply relative z-10;
      @apply mx-0 pr-2;
      &.secondary {
        @apply text-gray-400;
      }
      &.running {
        @apply text-green-300;
      }
      &.succeeded {
        @apply text-blue-300;
      }
      &.failed {
        @apply text-red-300;
      }
    }
    @apply whitespace-pre-line;
    @apply relative;
    ul {
      @apply relative;
      @apply my-0 py-0 !important;
      list-style: none;
      li {
        /** Branch spacing **/
        @apply relative my-3 pl-1;

        &::before,
        &::after {
          @apply absolute;
          @apply border-gray-400;
          @apply -left-4;
          content: "";
        }
        &::before {
          @apply w-0 h-full;
          @apply border-l-2;
          @apply top-0;
        }
        &::after {
          /** Branch length **/
          @apply w-5 h-6;
          @apply -top-3;
          @apply border-b-2 border-l-2;
        }
        &:last-child {
          &::after {
            @apply rounded-bl-md;
          }
          &::before {
            @apply h-full w-0;
            @apply border-l-0;
          }
        }
      }
    }
  }
}
:root {
  --vp-c-text: auto;
  --vp-c-brand: #3f7739;
  --vp-button-brand-hover-bg: #69b361;
  --vp-home-hero-image-background-image: linear-gradient(
    20deg,
    #64ee14 50%,
    #64ee14 50%
  );
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    90deg,
    #64ee14,
    #3f7739 40%
  );
  --vp-home-hero-image-filter: blur(66px);
}
.VPHero {
  .container {
    @apply flex;
  }
  p.text {
    @apply max-w-none w-full lg:text-6xl;
  }
  .main {
    @apply lg:max-w-none grow md:px-6 !important;
  }
  .image {
    @apply lg:max-w-sm lg:mx-0;
  }
  .image-bg {
    @apply h-36 w-36 m-auto !important;
    @apply rounded-full;
    animation: neon-glow 2000ms infinite;
    animation-direction: alternate;
  }
}
@keyframes neon-glow {
  from {
    opacity: 0%;
  }
  60% {
    opacity: 100%;
  }
}
img {
  &.VPImage {
    &.image-src {
      @apply h-44 w-44;
    }
  }
  &.sm {
    @apply w-2/3 p-5;
  }
  &.terminal {
    width: 100%;
    @apply w-full;
    @apply rounded-lg border border-solid border-gray-700;
  }
  &.sexy {
    max-width: 400px;
    min-width: 300px;
    @apply rounded-lg border border-solid border-gray-700;
    @apply my-4;
  }
}
