/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
:root {
  --c-bg: inherit;
  --c-text: inherit;
  --c-brand: #3f7739;
  --c-brand-light: #69b361;
}
.logo {
  height: 30px;
  margin-right: 2px;
}
.nav-link {
  @apply text-white;
  @apply dark:text-white;
  height: 30px;
  margin-right: 2px;
}
body {
  @apply bg-white;
  @apply dark:bg-black dark:text-white;
}
img {
  &.terminal {
    width: 100%;
    @apply rounded-md;
  }
}
