h4,
h5,
p {
  @apply leading-normal;
  &.2xl {
    font-size: 50px;
  }
  &.xl {
    font-size: 40px;
  }
  &.lg {
    font-size: 25px;
    @apply px-6 py-1;
    @apply text-center;
  }
  &.gradient {
    background: -webkit-linear-gradient(91deg, #64ee14, #ffffff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
.VPHero {
  .container {
    @apply flex;
  }
  p.text {
    @apply max-w-none w-full lg:text-6xl;
  }
  .main {
    @apply lg:max-w-none grow md:px-6 !important;
  }
  .image {
    @apply lg:max-w-sm lg:mx-0;
  }
  .image-bg {
    @apply h-36 w-36 m-auto !important;
    @apply rounded-full;
    animation: neon-glow 2000ms infinite;
    animation-direction: alternate;
  }
}
@keyframes neon-glow {
  from {
    opacity: 0%;
  }
  60% {
    opacity: 100%;
  }
}
img {
  &.VPImage {
    &.image-src {
      @apply h-44 w-44;
    }
  }
  &.sm {
    @apply w-2/3 p-5;
  }
  &.terminal {
    width: 100%;
    @apply w-full;
    @apply rounded-lg border border-solid border-gray-700;
  }
  &.sexy {
    max-width: 400px;
    min-width: 300px;
    @apply rounded-lg border border-solid border-gray-700;
    @apply my-4;
  }
}
